.mid-section {
  height: 655px;
}

.first {
  height: 95%;
  width: 100%;
  overflow: auto;
}

.first::-webkit-scrollbar {
  display: none;
}

.second {
  height: 5%;
  width: 100%;
}

@media only screen and (min-width: 0) and (max-width: 720px) {
  .mid-section {
    height: 600px;
  }
}

.left,
.right,
.center {
  width: 60%;
  clear: both;
  margin-bottom: 10px;
}

.left {
  float: left;
}
.right {
  float: right;
}

.center {
  font-family: cursive;
  padding: 2px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  width: 40%;
  height: 5%;
}

@media (max-width: 576px) {
  .center {
    width: 90%;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .center {
    width: 70%;
  }
}

@media (min-width: 993px) {
  .center {
    width: 40%;
  }
}
